<IfModule mod_rewrite.c>
    RewriteEngine On
    # Rewrite all requests to the public directory if they don't already contain /public/
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
